* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  overflow: hidden;
  height: 100vh;
}

#quote {
  position: absolute; /*pour centrer, va avec top, left et transform*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  background: rgb(9, 61, 50);
  font-size: 2rem;
  border-radius: 10px;
  transition: 0.5s;
  color: whitesmoke;
  cursor: pointer;
  height: auto;
  width: 40%;
}
